<% if signed_in? %>
  <div id="sidebar">
    <div id="users_pane" class="pane">
      <h2>Users Online</h2>
      <div id="users" class="scroll">
        <%= render @users %>
      </div>
    </div>
  <%= render :partial => 'challenges/sent',
             :object => @sent_challenge if @sent_challenge %>
  <%= render :partial => 'challenges/incoming',
             :object => @incoming_challenge if @incoming_challenge %>
  </div>
  <div id="lobby" class="pane">
    <%= render 'shared/chat_interface' %>
  </div>
  <%= render :partial => 'shared/ajax_timeout', :locals => { :path => '/pages/home.js' } %>
<% else %>
  <%= render 'front' %>
<% end %>
