<% if signed_in? %>
  <div id="help_pane" class="pane">
    <p>You are in the Game Lobby. To the right is a list of online users and their <span class="stats">[ <span class="wins">win</span> / <span class="losses">loss</span> ]</span> records. To chat with them, type your message in the text box and press Enter. To challenge a user to a game, click the <span class="inverse button yellow">C!</span> button next to their name. If they accept, you will both enter the game immediately.</p>
    <a href="#" class="normal button help_link">&times; Close Help</a>
  </div>
  <div id="sidebar">
    <div id="users_pane" class="pane">
      <h2>Users Online</h2>
      <div id="users" class="scroll">
        <%= render @users %>
      </div>
    </div>
  <%= render :partial => 'challenges/sent',
             :object => @sent_challenge if @sent_challenge %>
  <%= render :partial => 'challenges/incoming',
             :object => @incoming_challenge if @incoming_challenge %>
  </div>
  <div id="lobby" class="pane">
    <%= render 'shared/chat_interface' %>
  </div>
  <script type="text/javascript">
    setTimeout(function(){
        $.getScript('/pages/home.js?since=<%= DateTime.now %>')
      }, <%= UPDATE_DELAY %>)
  </script>
<% else %>
  <%= render 'front' %>
<% end %>
