<% if signed_in? %>
  <div id="sidebar">
    <div id="users_pane" class="pane">
      <h2>Users Online</h2>
      <div id="users" class="scroll">
        <%= render @users %>
      </div>
    </div>
  <%= render :partial => 'challenges/sent',
             :object => @sent_challenge if @sent_challenge %>
  <%= render :partial => 'challenges/incoming',
             :object => @incoming_challenge if @incoming_challenge %>
  </div>
  <div id="lobby" class="pane">
    <div id="messages" class="scroll">
      <%= render @messages %>
    </div>
    <%= form_for @message do |f| %>
      <div class="field">
        <%= f.text_field :content, :maxlength => 250, :size => nil %>
      </div>
      <div class="actions">
        <%= f.submit 'Send' %>
      </div>
    <% end %>
  </div>
<% else %>
  <p>Welcome! You are not signed in. To play,
  <%= link_to 'Sign In', signin_path, :class => 'inverse button blue' %>
  with an existing account or
  <%= link_to 'Sign Up', signup_path, :class => 'inverse button green' %>
  for a new account.</p>
<% end %>
