<div id="board" class="pane">
  <svg width="<%= TILE_SIZE * @game.width %>" height="<%= TILE_SIZE * @game.height %>">
    <%= render 'defs' %>
    
    <% @game.height.times do |row|
      @game.width.times do |col| %>
        <use x="<%= col * TILE_SIZE %>" y="<%= row * TILE_SIZE %>"
          xlink:href="#<%= (row + col) % 2 == 0 ? 'blackSquare' : 'whiteSquare' %>" />
      <% end
    end %>
    
    <% @game.pieces.each do |piece| %>
      <% if piece.player.user == current_user %>
        <a xlink:href="<%= edit_game_piece_path(@game, piece) %>">
      <% end %>
        <use x="<%= piece.x * TILE_SIZE %>" y="<%= piece.y * TILE_SIZE %>"
          xlink:href="#<%= piece.player.turn_order == 1 ? 'redPiece' : 'bluePiece' %>" />
      <% if piece.player.user == current_user %></a><% end %>
    <% end %>
  </svg>
</div>
