<div id="sidebar">
  <div id="status_pane" class="pane">
    <h2>Status</h2>
    <p class="status">
      <%= current_user.active_player.turn_up ? 'Your Turn' : "Opponent's Turn" %>
    </p>
  </div>
  <div id="chat_pane" class="pane">
    <h2>Chat</h2>
    <%= render 'shared/chat_interface' %>
  </div>
</div>

<div id="board" class="pane">
  <svg width="<%= TILE_SIZE * @game.width %>" height="<%= TILE_SIZE * @game.height %>">
    <%= render 'defs' %>
    
    <% @game.height.times do |row|
      @game.width.times do |col| %>
        <use x="<%= col * TILE_SIZE %>" y="<%= row * TILE_SIZE %>"
          xlink:href="#<%= (row + col) % 2 == 0 ? 'blackSquare' : 'whiteSquare' %>" />
      <% end
    end %>
    
    <% @game.pieces.each do |piece| %>
      <% if piece.player.user == current_user and piece.player.turn_up %>
        <a xlink:href="<%= edit_game_piece_path(@game, piece) %>">
      <% end %>
        <use id="piece<%= piece.id %>"
          x="<%= piece.x * TILE_SIZE %>" y="<%= piece.y * TILE_SIZE %>"
          xlink:href="#<%= piece.player.turn_order == 1 ? 'redPiece' : 'bluePiece' %>" />
      <% if piece.player.user == current_user and piece.player.turn_up %></a><% end %>
    <% end %>
    
    <% @piece.move_targets.each do |target| %>
      <a xlink:href="<%= update_piece_path(@game, @piece, :x => target.x, :y => target.y) %>">
        <use x="<%= target.x * TILE_SIZE %>" y="<%= target.y * TILE_SIZE %>"
          xlink:href="#moveTarget" />
      </a>
    <% end if @piece %>
  </svg>
</div>

<script type="text/javascript">
  setTimeout(function(){
    $.getScript('<%= request.env['PATH_INFO'] %>.js?since=<%= DateTime.now %>') }, 750)
</script>
