<header>
  <nav>
    <ul>
      <% if !signed_in? or (signed_in? and !active_game?) %>
        <li><%= link_to 'Home', root_path %></li>
      <% end %>
      <% if signed_in? and !active_game? %>
        <li><%= link_to 'Account', edit_user_path(current_user) %></li>
      <% end %>
      <% if signed_in? %>
        <li><%= link_to 'Help!', '#', :class => 'help_link' %></li>
        <% if active_game? %>
          <li><%= link_to 'Abandon Game', active_game, :method => :delete,
            :confirm => 'Really abandon this game?', :class => 'inverse button red' %>
        <% else %>
          <li><%= link_to 'Sign Out', signout_path,
            :method => :delete, :class => 'inverse button red' %></li>
        <% end %>
      <% else %>
        <li><%= link_to 'Sign In', signin_path, :class => 'inverse button blue' %></li>
      <% end %>
    </ul>
  </nav>
  <h1><%= base_title %></h1>
</header>
