<header>
  <nav>
    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <% if signed_in? %>
    <li><%= link_to 'Account', edit_user_path(current_user) %></li>
      <% end %>
      <% if signed_in? %>
      <li><%= link_to 'Sign Out', signout_path, :method => :delete, :class => 'inverse button red' %></li>
      <% else %>
      <li><%= link_to 'Sign In', signin_path, :class => 'inverse button blue' %></li>
      <% end %>
    </ul>
  </nav>
  <h1><%= base_title %></h1>
</header>
