<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= render 'layouts/stylesheets' %>
  <%= javascript_include_tag 'jquery.min.js', 'rails.js', 'application.js' %>
  <script type="text/javascript">
    var last_message_id = <%= @last_message_id %>;
    var last_turn = <%= active_game? ? active_game.turns : 0 %>;
  </script>
  <%= csrf_meta_tag %>
</head>
  <body>
    <div class="container">
      <%= render 'layouts/header' %>
      <% if @title %>
        <h1><%= @title %></h1>
      <% end %>
      <div id="flashes">
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, :class => "flash #{key}") %>
        <% end %>
      </div>
      <%= render 'shared/context_help' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
